<template>
    <header>
	    <nav class="container navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">GuestHouses</a>           
            <button class="navbar-toggler icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse offset-md-3 navbar-collapse" id="navbarNav">
                <ul class="navbar-nav group2">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Галерия</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Информация </a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Удобства</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Номера</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Карта</a>
                    </li>
                    <li class="nav-item flag2" id="items">
                     	<a class="nav-link" href="#"><img src="~@/assets/image2/RU.png" alt=""></a>           
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
    		<div class="row">
    			<div class="order-md-2  col-md-5  offset-md-4 form">
    				<h1>БРОНИРУЙТЕ ЖИЛЬЕ</h1>
    				<div class="form-title d-flex ">
    					<p class="left1">Прибытие</p>
    					<p class="left2">Выезд</p>
    				</div>
    				<div class="form-input d-flex mx-auto">
    					<input class="form-control" type="" name="" placeholder=" дд.мм.гг">
    					<input class="form-control" type="" name="" placeholder=" дд.мм.гг">
    				</div>
    				<input class="form-control input " type="" name="" placeholder="Ф.И.О">
    				<input class="form-control input " type="" name="" placeholder="Электронная почта">
    				<input class="form-control input " type="" name="" placeholder="Телефон">
    				<p class="left3">Количество гостей</p>
					<select class="form-control ModalInputs input" id="exampleFormControlSelect1">
                        <option>1 гость</option>
                        <option>2 гость</option>
                        <option>3 гость</option>
                        <option>4 гость</option>
                    </select>
    				<!-- <input class="form-control  " type="" name="" placeholder=" 1 гость"> -->
    				<button class="bron-btn">Бронировать</button>
    			</div>
    			<div class="order-md-1  col-md-3 ">
    				<button class="show-foto-btn">
    					Просмотреть фото
    				</button>
    			</div>
    		</div>
    	</div>	
    </header>

</template>

<script>
export default {
    name:'CardsHeaderPage'
}
</script>
<style scoped>
header{
    background: url('~@/assets/image2/Rectangle 12.png');
    height: 780px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
} 
.navbar-brand{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 48px;
	color: #FFFFFF;
}
.icon i {
	color: #FFFFFF;		
}
.group2 li{
	margin-right: 6%;
	text-align: center;
	
}
.group2 a{
	color: #fff !important;
}
.group2 li:nth-child(1){
	/* margin-right: 5%; */
	border-top: 3px solid white;	
}
.group2 li:nth-child(2):hover, .group2 li:nth-child(3):hover,.group2 li:nth-child(4):hover,.group2 li:nth-child(5):hover{
	/* margin-right: 5%; */
	border-top: 3px solid white;	
}
.nav-item{
    margin: auto;
}
.flag2 img{
    margin-top: 0px;
}
.show-foto-btn{
	width: 300px;
	height: 50px;
	margin-top:590px;
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid white;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.form{
	width: 400px;
	height: 600px;
	margin-top: 50px;
	background-color: white;
	border-radius:3px ;
}
.form h1{
	text-align: center;
	margin-top: 20px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 150%;
	line-height: 45px;
	letter-spacing: 0.05em;
	color: #000000;
}
.left2{
	padding-left: 17%;
}
.form-title p{
	margin-top: 10px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 169%;
	line-height: 32px;
	color: #000000;
}

.form-input input{
	width:44%;
	height: 50px;
	margin-left: 4%;
	margin-top:10px; 
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 29px;
	color: #999999;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 5px;
}
.input{
	width:92%;
	height: 50px;
	margin-left: 40px;
	margin-top:15px;
	margin-left: 4%; 
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 5px;
}
.form p{
	margin-left: 5%;
	margin-top:5px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #000000;

}
.bron-btn{
	
	width: 93%;
	height: 50px;
	margin-top: 25px;
	margin-left: 3%;
	background: linear-gradient(0deg, #E73E4B, #E73E4B);
	border-radius: 10px;
	border: 1px solid #E73E4B;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}


@media only screen and (max-width: 414px) {
.show-foto-btn{
	margin-top: 20%;
	margin-left: 3%;
	
	
}
}
@media only screen and (min-width: 769px) and (max-width: 1025px) {
.group2 li{
	margin-right: 2%;
	text-align: center;
	
}
}

</style>