<template>
    <div  class="col-md-4"  >
        <a href="/Cards">
            <div class="card">
                <div class="image">
                    <img :src="card.src"  alt="...">
                </div>
                                
                <div class="card-body">
                    <a href=""><h5 class="card-title" >{{card.title}}</h5></a>
                    <p class="card-text"><small class="text-muted">{{card.price}}</small></p>            
                    <p class="card-text star"><small class="text-muted">
                        <a href="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            {{card.rate}}
                        </a></small>
                    </p>
                </div>
            </div>
        </a>
    </div>
                   
   
</template>

<script>
export default {
    name:'CardItem',
    props:['card']
}
</script>

<style>

</style>