<template>
    <div>
        <section class="group-14">
            <div class="container group-14-1 d-flex justify-content-center align-items-center">
                <h3>НАЙДИТЕ ЖИЛЬЕ В КАРАКОЛЕ ВМЕСТЕ С GUESTHOUSES</h3>
            </div>
            <div class="container mr-3 group-14-1">
                <div class="col-md-2 ">
                    <p>Цена</p>
                </div>
            
            </div>
            <div class="container mr-3 ">
                <div class="row">
                    <div class="col-md-3 col-6 ">
                        <div class="form-group d-flex tu">
                            <input type="text" class="form-control"  placeholder="от (тг)">
                            <p class="defis">_</p>
                        </div>
                    </div> 
                    <div class="col-md-3 col-6 ">
                        <div class="form-group  search-input">
                        <input type="text" class="form-control"  placeholder="до (тг)">
                        </div>
                    </div>
                    <div class="col-md-3 col-12  search-btn section-button d-flex justify-content-center align-items-center">
                        Найти жилье
                    </div>
                </div>   
            </div> 
        </section>

        <section class="group-11">
            <div class="container  ">
                <div class="row  ">
                    <div class="col-md-4  col-12 d-flex justify-content-center align-items-center">
                        <p  class=" tab">Последние добавленные</p>
                    </div>
                    <div class="col-md-2  col-12 offset-md-1 d-flex justify-content-center align-items-center">
                        <p class="tab" >Популярные </p>
                    </div>
                    <div    class="col-md-4  col-12 offset-md-1 d-flex justify-content-center align-items-center">
                        <p class="tab" >Часто посещаемые</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="group-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p >Последние добавленные</p>
                    </div>
                </div>
            </div>   
        </section>

    </div>
</template>


<script>

export default {
}
</script>

<style>

</style>