<template>
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 title">
                        <h1>GuestHouses</h1>
                        <div class="content display-flex">
                            <p class="d-flex content">Компания Guest Houses – онлайн сервис по
                                <i @click="show=!show" class="fas fa-angle-down"></i>
                                 
                            </p>
                            <transition name="fade">
                                <p  v-if="show" class="one">бронированию отелей, гостевых домов, хостелов и апартаментов в Кыргызской Республики. Цель компании предоставить гостям широкий спектр услуг по проживанию в номерах от эконом до премиум класса на озере Иссык Куль и других городах Кыргызстана </p>
                            </transition>
                        </div>
                        
                        
                    </div>
                    <div class="col-md-4 offset-md-2  contacts">
                        <h1>Наши контакты</h1>
                        <p><i class="fas fa-phone"></i> +7 727 111 11 11</p>
                        <p><i class="fas fa-phone"></i> +7 777 111 11 11</p>
                        <p><i class="fas fa-at"></i> info.guesthouses.kg </p>
                        
                    </div>

                    
                </div>


                <div class="row">
                        <div class="order-md-2 col-md-4  offset-md-2 ">
                            <p id="set">Мы в сети</p>

                            <div class="icons d-flex">
                                <div class="skype d-flex justify-content-center align-items-center">
                                    <i class="fab fa-skype"></i>
                                </div>
                                <div class="facebook d-flex justify-content-center align-items-center">
                                    <i class="fab fa-facebook"></i>
                                </div>
                                <div class="youtube d-flex justify-content-center align-items-center">
                                    <i class="fab fa-youtube"></i>
                                </div>
                            </div>
                        </div>
                        <div class=" order-md-1 col-md-6  title-end">
                            <p>OO «GuestHouses» 2018. Все права защищены</p>
                        </div>
                        
                    </div>
            </div>
        </footer>

</template>

<script>
export default {
    name:'Footer',
   data(){
       return{
           show:true
       }
   }
}
</script>

<style  scoped>
    .one{
        margin-top:-12px;
    }
</style>