<template>
            <nav class="container navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#">GuestHouses</a>           
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse offset-md-4 navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav group1">
                            <li class="nav-item">
                                <a class="nav-link " href="#">Главная</a>
                            </li>
                            <li class="nav-item" id="items">
                                <a class="nav-link" href="#">О нас </a>
                            </li>
                            <li class="nav-item" id="items">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                            <li class="nav-item flag" id="items">
                                <img src="~@/img/RU.png" alt="">
                            </li>
                        </ul>
                    </div>
            </nav> 
</template>
<script>
export default {
  name: 'Navigation'
}
</script>
<style >

</style>