<template>
   <div>

    <CardsHeaderPage> </CardsHeaderPage>

    <section class="section1">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 section1-title">
    				<h1>МИНИ-ПАНСИОНАТ «КАЛИНКА»</h1>
    				<p>Мини-пансионат «Калинка» расположен в Чолпон-Ате, в 250 метрах от Иссык-Куля. На территории обустроена бесплатная частная парковка.</p>
    				<p>В каждом номере установлен телевизор с плоским экраном и спутниковыми каналами. Из некоторых номеров открывается вид на горы или на сад. Кроме того, в апартаментах установлен телевизор с плоским экраном. Имеется общая кухня.</p>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="section2">
    	<div class="container ">
    		<h1>УДОБСТВА </h1>
    		<div class="row">
                <CosyItems v-for="item in cozies"
                              :key="item.desc" 
                              :item="item">
                </CosyItems>
    		</div>
    	</div>
    </section>

    <section class="section3">
    	<div class="container">
    		<h1>НОМЕРА</h1>
    		<div class="row">
                <PriceItem v-for="type in types"
                              :key="type.price" 
                              :type="type">
                </PriceItem>
    		</div>
    	</div>
    </section>

    <section class="section4">
    	<div class="container">
    		<h1>МЕСТОПОЛОЖЕНИЕ</h1>
    		<div class="row">
    			<div class="col-md-12 location">
    				
    			</div>
    		</div>
    	</div>
    </section>


    <Footer></Footer>
   </div>
</template>
<script>
import CardsHeaderPage from '@/components/CardsHeaderPage.vue'
import CosyItems from '@/components/CosyItems.vue'
import PriceItem from '@/components/PriceItem.vue'
import Footer from '@/components/Footer.vue'
export default {
    name: 'Cards',
    components:{
        CardsHeaderPage,CosyItems,PriceItem,Footer
    },
    data(){
        return{
            types:[
                {
                    text1:'Двухместный номер',
                    price1:'14.800 тг',
                    text2:'Стандартный'
                },
                {
                    text1:'Трехместный номер',
                    price1:'18.000 тг',
                    text2:'Стандартный'
                },
                {
                    text1:'Четырехместный номер',
                    price1:'23.500 тг',
                    text2:'Стандартный'
                }

            ],
            cozies:
            [
                {
                    src: require('./assets/image2/si-glyph_network-2.png'),
                    desc:'Интернет'
                },
                {
                    src: require('./assets/image2/Vector (1).png'),
                    desc:'Телевизор'
                },
                {
                    src: require('./assets/image2/008   Coffee and Croissant.png'),
                    desc:'Завтрак'
                },
                {
                    src: require('./assets/image2/shower 1.png'),
                    desc:'Душевая кабинка'
                },
                {
                    src: require('./assets/image2/washer 1.png'),
                    desc:'Стиральная машина'
                }
                

            ]
    
        }
    }
}
</script>
<style scoped>
.section1{
	margin-top: 100px;
}
.section1-title h1{
	
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 132%;
	line-height: 43px;
	/* identical to box height */

	letter-spacing: 0.05em;

	/* Gray */

	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.section1-title p{
	/*text-align: center;*/
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 130%;
	line-height: 40px;
	letter-spacing: 0.05em;	
	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}















.section2{
	margin-top: 150px;
	background: linear-gradient(0deg, #F9FAFB, #F9FAFB);
}
.section2 h1{
	padding-top: 3%;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 132%;
	line-height: 43px;
	/* identical to box height */

	letter-spacing: 0.05em;

	/* Gray */

	color:  #4A4A4A !important;
}





















.section3{
	margin-top: 100px;
	
}
.section3 h1{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 162%;
	line-height: 43px;
	letter-spacing: 0.05em;
	color: #4A4A4A !important;
}























.section4{
	margin-top: 100px;
}
.section4 h1{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 162%;
	line-height: 43px;
	/* identical to box height */

	letter-spacing: 0.05em;

	/* Gray */

	color: #4A4A4A !important;
}
.location{
	margin-top: 31px;
	height: 450px;
	background: #C4C4C4 !important;
}




















@media only screen and (min-width: 321px) and (max-width: 360px) {
	header{
	    /* background: url('~@/image2/header 2.png'); */
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 30px;
    	/*margin-left: 5px;*/
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 28px;
    }
    .form-input input{
    	width: 150px;
    }
    .input{
    	width: 320px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 320px;
    }
    
}



@media only screen and (min-width: 361px) and (max-width: 415px) {
	header{
	    /* background: url('header 2.png'); */
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 30px;
    	margin-left: 5px;
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 28px;
    }
    .form-input input{
    	width: 150px;
    }
    .input{
    	width: 324px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 340px;
    }
    
}

@media only screen and (min-width: 416px) and (max-width: 768px) {	   
	.show-foto-btn{
		
		margin-top:600px;
		
	}
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
	header{
	    /* background: url('header 2.png'); */
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 680px;
    	margin-left: 5px;
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 20px;
    }
    .form-input input{
    	width: 175px;
    }
    .input{
    	width: 357px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 370px;
    }
    .group2 li{
		margin-right: 1%;
		text-align: center;
	
	}
	
    
}
</style>