<template>
    <div>
    <header>
      <Navigation></Navigation>

      <div class="container header-title  d-flex justify-content-center align-items-center">
          <h3>Бронируйте лучшее жилье у нас</h3>
                  
      </div>
      <div class="container header-soz d-flex justify-content-center align-items-center">
          <p>Отдых – это уникальные инвестиции для вашего здоровья</p>
      </div>
      <div class="container header-button d-flex justify-content-center align-items-center">
            Найти жилье
      </div>
    </header>

    <FilterComponent></FilterComponent>
    
     <section class="group-5" >
            <div  class="container">
                <div class="row" >
                    <CardItem v-for="card in cards"
                              :key="card.title" 
                              :card="card" >
                    </CardItem>

                </div>
            </div>
        
      </section>

      <section class="group-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4 col-12  group-3-button d-flex justify-content-center align-items-center">
                        Найти жилье
                    </div>
                </div>
            </div>
        </section>
  
  
      <Footer></Footer>
    </div>
</template>

<script>

import Navigation from '@/components/Navigation.vue'
import FilterComponent from '@/components/FilterComponent.vue'
import CardItem from '@/components/CardItem.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'App',
  components: {
    Navigation,FilterComponent,CardItem,Footer
  },
  data(){
    return{
        cards:[
                {
                    title:'Mини-Пансионат «Калинка»',
                    price:'от 14800 тг - до 23500 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10.png'),
                    rate:'10.0'
                },
                {
                    title:'Арт-Отель «Аль-Хаят»',
                    price:'от 7800 тг - до 14800 тг',
                    // id:2,
                    src: require('./assets/images/Rectangle 10 (1).png'),
                    rate:'9.0'
                },
            
                {
                    title:'Гостевой дом «Аист»',
                    price:'от 11500 тг - до 33500 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10 (2).png'),
                    rate:'7.5'
                },
                {
                    title:'Гостевой дом «Байконур»',
                    price:'от 4000 тг - до 8000 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10 (3).png'),
                    rate:'10.0'
                },
                {
                    title:' Гостевой дом «Дайра»',
                    price:'от 5000 тг - до 6500 тг',
                    // id:2,
                    src: require('./assets/images/Rectangle 10 (4).png'),
                    rate:'9.0'
                },
            
                {
                    title:'Гостевойдом «Мэррим-Мурок»',
                    price:'от 11500 тг - до 33500 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10 (5).png'),
                    rate:'7.5'
                },{
                    title:'Пансионат «Акапулько»',
                    price:'от 9800 тг - до 12500 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10 (6).png'),
                    rate:'10.0'
                },
                {
                    title:'Гостевой дом «Хан-Тенгри»',
                    price:'от 5000 тг - до 23000 тг',
                    // id:2,
                    src: require('./assets/images/Rectangle 10 (7).png'),
                    rate:'9.0'
                },
            
                {
                    title:'Гостиница «Ай-Петри',
                    price:'от 22000 тг - до 35500 тг',
                    // id:1,
                    src: require('./assets/images/Rectangle 10 (8).png'),
                    rate:'7.5'
                }
            ]
    }
  }

}
</script>