header{
    background: url('~@/img/header.png');
    height: 700px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
} 
.group1 li{
	margin-right: 30px;
	text-align: center;
	
}
.group1 a{
	color: #fff !important;
}
.group1 li:nth-child(1){
	margin-right: 30px;
	border-top: 3px solid white;	
}
.group1 li:nth-child(2):hover, .group1 li:nth-child(3):hover{
	margin-right: 30px;
	border-top: 3px solid white;	
}
.navbar-toggler  {
    color: #FFFFFF !important;
}
.navbar-toggler i {
    color: #FFFFFF !important;
}
.navbar-brand{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF !important;
}
.nav-item{
    margin: auto;
}
.nav-item .nav-link{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF !important;
}


.flag img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}
.header-title{
   margin-top: 182px !important;
}
.header-title h3{
   
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 77px;

    color: #FFFFFF !important;
}
.header-soz p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF !important;
}
.header-button{
    /* Red */
    width:409px;
    height: 60px;
    margin-top: 77px;
    margin-bottom: 290px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B);
    background-size: cover;
    
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}




































/* SECTION */
.group-14{
    margin-top: 80px;

}
.group-14-1 h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.group-14-1 p{
    margin-top: 40px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.col-md-1 img{
    margin-top: 23px;
    width: 20px;
}
.form-group input {
    width: 210px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid black;
    
}
.defis{
    /* margin: 0px 10px -50px 10px; */
    font-size: 40px;
    color: grey;
    margin: -18px 15px 0px 33px;
    display: flex;
 
}
/* .tu{
    border: 1px solid black;
} */

.section-button{
    width:210px;
    height: 60px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B);
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


























.group-11{
    margin-top: 80px;
    margin-bottom: 70px;
}
.group-11 p{
    margin-left: 30px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; 
    letter-spacing: 0.05em;
    text-align: center;
    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.tab:hover{
	
	border-bottom: 3px solid black;	
}































.group-8 p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
























.group-5{
    margin-top: 30px;
}
.card{
    margin-top: 20px;
}
.image img  {
    width: 100% !important;
}
.card-body h5{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.card-text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    font-size: 25px;
    letter-spacing: 0.05em;

    /* Gray */

    color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.star i{
    color: #FACD78;
}
































.group-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-3-button{
    width: 312px !important;
    height: 60px;
    margin-top: 80px;
    background: linear-gradient(0deg, #E73E4B, #E73E4B);
    border-radius: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}































footer{
    margin-top: 80px;
    background: url('~@/img/Rectangle\ 11.png');
    background-size: cover;
}
footer .title h1{
    margin-top: 50px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
footer .title p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.contacts {
    height: auto;
}
.contacts h1{
    margin-top: 50px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.contacts p{
    margin-top: 20px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */
    color: #FFFFFF;

    /* color: #FFFFFF; */
}
.contacts h2{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 43px;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* white */
    color: #FFFFFF;

    /* color: #FFFFFF; */
}
.title-end p{
    margin-top: 50px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}
#set{
    font-family: Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 43px;
/* identical to box height */

letter-spacing: 0.05em;

/* white */
margin-top: 0px;
color: #FFFFFF;

}
.icons {
    margin-top: -14px;
    margin-bottom: 30px;
}
.icons i{
    font-size: 21px;

}
.skype{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00A9E7;

}
.youtube{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F40000;
}
.facebook{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#4E6297;
}
.fa-skype{
    color: white;
}
.fa-facebook{
    color: white;
}
.fa-youtube{
    color: white;
}
.content i{
    color: #fff;
    display:none;
}
.one {
    transition: opacity .5s;
    color: white;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }






























@media only screen and (max-width: 375px) {
    .header-title{
        margin-top: 80px;
    }
    
    .header-title h3{
        
        font-size: 50px;
    }
    .header-button{
        width: 315px;
    }
    .form-group input {
        width: 140px;
    }  
    .defis{
        margin: -18px 10px 0px 15px;
    }
    /* .content p{
        display: none;
    }*/
    
    
}
@media only screen  and (min-width: 376px) and (max-width: 414px) {
    header{
        background: url('~@/img/Rectangle 20.png');
        background-size:100%;
		background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
    .header-title h3{
        margin-top: -50px;
    }
    .header-button{
        width: 355px;
    }
    .form-group input {
        width: 170px;
    }  
    .defis{
        margin: -18px 10px 0px 8px;
    }
    .content i{
        display:block;
        font-size: 30px;
        margin-top: 30px;
        margin-right: 50px;
    }
    /* .one {
        margin-top: -20px;
        transition: .5 ease ;
    }  */
}
@media only screen   and (max-width: 375px) {
    header{
        background: url('~@/img/Rectangle 20.png');
        background-size:100%;
        background-repeat: no-repeat;
        background-size: cover;
		/* background-position: bottom; */
    }
    .header-title h3{
        margin-top: -120px;
    }
    .content i{
        display:block;
        font-size: 30px;
        margin-top: 30px;
        margin-right: 50px;
    }
    .one {
        margin-top: -20px;
        transition: .5 ease ;
      
    } 
}


@media only screen and (max-width: 767px) and (min-width: 415) {
    .header-title{
        margin-top: 62px !important;
     }
     .header-title h3{
         font-size: 53px;
     }
     .header-button{
        /* Red */
        width:300px;
       
    }
    .form-group input {
        width: 100px;
    }  
    .section-button{
        width:300px;
    }
    .group-11 p{
        font-size: 20px;
    }
   
  }

  @media only screen and ( max-width: 1023px) and (min-width: 768px){
    .header-title{
        margin-top: 130px !important;
     }
     .active{
        display: none;
    }
    .group-14-1 p{
        margin-left: 40px;
    }
    .tu{
        margin-left: 50px;
    }
    .form-group input {
        /* margin-left: 5%; */
        width: 150px;
        padding-left: 40px;
    }
    .search-input, .search-btn{
        margin-left: 50px;
    }  
    .defis{
        margin: -18px 10px 0px 6px;
    }
    .section-button{
        width: 100px;
    }
    .group-11 p{
        font-size: 20px;
    }
    .group-8 p{
        margin-left: 30px;
    }
   
  }



@media only screen and (max-width: 1024px) and (min-width: 769px) {    
    .flag {
      margin-left: 0px;
    }
    .group-14-1 p{
        margin-left: 45%;
    }
    .form-group input {
        margin-left: 30%;
    } 
    .defis{
        margin: -18px 10px 0px 9px;
    } 
    .section-button{
        margin-left: 10%;
    }
    
}


 